@charset "UTF-8";

/* Todas as demais medias */

/* Typical Device Break Points 
Pequenas telas : até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 
Grandes telas:
*/
@media print {

}

