@charset "UTF-8";

   /* declarações gerais*/
 
    /* declarações retrato */

    @media screen and (orientation: portrait) {
        body {
            background: url(../imagens/cev-portrait.jpg);
            background-position: center bottom;
        }
    }

    /* declarações paisagem*/

    @media screen and (orientation: landscape) {
        body {
            background: url(../imagens/cev-landscape.jpg);
            background-position: left bottom;
        }
    }