@charset "UTF-8"

boduy{
    background-color: rgb(11, 35, 11);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: yellowgreen
}

h1#principal {
    text-align: center;
}

h2 {
    color:goldenrod
}