@charset "UTF8";


:root{
    --cor0: #8993FF;
    --cor2: #93ACFF;
    --cor3: #AECEFF;
    --cor4: #DBEDFF;
    --cor5: #F4FAFF;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif
}
* {
    margin: 0px
    padding: 0px
}
body{
    background-color: #AECEFF;

}
header{
    background-color: #DBEDFF;
}
header > p{
    color: white
}
nav{
    background-color: #F4FAFF;
}


main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
}
header > h1 {
    color: #93ACFF
}

main h1{
    color: #DBEDFF
}
main img {
    width: 100%;
}
main img.pequena {
    width: ;
}


footer {
    background-color: #F4FAFF;
    color: white;
}