@charset "UTF8";


:root{
    --cor0: #8993FF;
    --cor2: #93ACFF;
    --cor3: #AECEFF;
    --cor4: #DBEDFF;
    --cor5: #F4FAFF;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif
}
* {
    margin: 0px
    padding: 0px
}
body{
    background-color: #AECEFF;

}
header{
    background-color: #DBEDFF;
    min-height: 150px;
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
}
header > p{
    color: white
}
nav{
    background-color: #F4FAFF;
}


main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.51);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
header > h1 {
    color: #93ACFF;
    ma
}

main h1{
    color: #DBEDFF
}
main img {
    width: 100%;
}
main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}


footer {
    background-color: #F4FAFF;
    color: white;
}