@charset "UTF8";

/*
#8993FF
#93ACFF
#AECEFF
#DBEDFF
#F4FAFF

*/
:root{
    --cor0: #8993FF
    --cor1: #93ACFF
    --cor1:#AECEFF
    #DBEDFF
    #F4FAFF
}
body{
    background-color: #AECEFF;

}

header > h1 {
    color: #8993FF
}

main h1{
    color: #93ACFF
}